TOKEN=0123
ADMIN_IDS=000,111
USER_IDS=000,111
ALLOW_ALL_USERS_IN_GROUPS=1
INITMODEL=gemma3:27b
TIMEOUT=3000

# Names to nickname mapping
TELEGRAM_NICKNAMES='{"John": "John"}'
# Bot name
TELEGRAM_BOT="botname"

# UNCOMMENT ONE OF THE FOLLOWING LINES:
OLLAMA_BASE_URL=localhost # to run ollama without docker, using run.py
# OLLAMA_BASE_URL=ollama-server # to run ollama in a docker container 
# OLLAMA_BASE_URL=host.docker.internal # to run ollama locally

# Assistant prompt
OLLAMA_SYSTEM_PROMPT="You are a helpful assistant."

# Log level
# https://docs.python.org/3/library/logging.html#logging-levels
LOG_LEVEL=DEBUG
